<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WPMS</title>
    <script type="text/javascript" src="{% static 'libs/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/popper.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'scripts/forms.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'libs/daterangepicker.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'styles/daterangepicker.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}"></link>
    <link rel="stylesheet" href="{% static 'styles/main.css' %}"></link>
</head>
<body style="background-color: rgb(0, 0, 80);">
    <div id="content" style="background-color: rgb(0, 0, 80);">
        <a class="close-button" href={{ href }}>×</a>
        <h1>{{ header }}</h1>
        {% if is_doc %}
            <div class="form-hint-wrapper">
                <span>
                    Перед оформлением документа необходимо заполнить справочники.
                </span>
            </div>
        {% endif %}
        <div class="container-fluid flexbox-col">
            <form action={{ url }} method="post" id={{ url }}>
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.errors }}
                        {{ field.label_tag }}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="form-submit-wrapper">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>